@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway-Light";
    src: url("../fonts/Raleway/Raleway-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway-Thin";
    src: url("../fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  }
  @font-face {
    font-family: "Raleway-Italic";
    src: url("../fonts/Raleway/Raleway-Italic.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lateef";
    src: url("../fonts/Lateef/Lateef-Regular.ttf")format("truetype");
  }
  @font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato/Lato-Bold.ttf")format("truetype");
  }
  @font-face {
    font-family: "SigmarOne-Regular";
    src: url("../fonts/Sigmar_One/SigmarOne-Regular.ttf")format("truetype");
  }
  @font-face {
    font-family: "LeckerliOne-Regular";
    src: url("../fonts/Leckerli_One/LeckerliOne-Regular.ttf")format("truetype");
  }
  @font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  }
  

  
  
  