@font-face{
  font-family: "Oleo";
  src: url(Oleo_Script/OleoScript-Bold.ttf) format('truetype');
}
*{
  margin: 0;
  padding: 0;
   box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    line-height: 1;
   background-color: #86a8d4;
    font-family: Arial, 'sans-serif';
 
}
button, a{
  outline: none;
  cursor: pointer;
}
.container{
  width: 85%;
  padding-top: 100px;
  max-width: 1400px;
  margin: auto;
}
.gif{
  padding-top: 15px;
  height: 240px;
}
.container__top{
  display: flex;
}
.intro-content{
  padding-top: 100px;
}
.heading1{
  font-family: "Oleo", 'sans-serif';
  font-size: 50px;
  margin-left: 20px;
  margin-top: 50px;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
}
.text1{
  font-size: 23px;
}
.open-but{
  width: 150px;
  margin: 25px 0;
  padding: 15px 10px;
  font-size: 18px;
  transition: all 0.7s;
  border: none;
  border-radius: 15px;
  position: relative;
}
.open-but:hover{
  background:transparent;
  border: 1px solid rgb(79, 79, 165);
  color: #fff;
}

.worklist{
  display: none;
  margin-top: 50px;
}

.works-el{
  padding: 12px;
  opacity: 1;
  /* transition: 1s ease; */
  list-style: none;
  height: 50px;
  position: relative;
  
}

.works-el:hover{
  opacity: 0.6;
  transition: 1s ease;
}
.works-el a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}
.beetroot-container{
  width: 100%;
  max-width: 1400px;
  margin: 30px auto 0 auto;
}
.betroot-title{
  text-align: center;
  font-family: "Oleo";
  margin-bottom: 60px;
  font-size: 40px;
}
.beetroot-container-list{
  list-style: none;
}
.blist-item{
  width: 100%;
  border: 1px solid white;
  padding: 20px;
  margin-top: 10px;
}
.blist-item a {
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}
.blist-item:hover a{
  color:rgb(255, 217, 0);
}

.blist-item:hover{
  border: 1px solid rgb(255, 217, 0);
}