body{
    padding: 0;
    margin: 0;
    line-height: 1;
   background-color: #FFF0F5;
    font-family: Arial, 'sans-serif';
 
}
.container{
  width: 85%;
  max-width: 1400px;
  margin: auto;
}
#beetroot_img{
    width: 100px;
    height: 100px;
    margin-left: 30px;
  }
  .title{
      font-weight: normal;
      color: #cc0000;
      text-align: center;
      border-bottom: 2px solid black;
  }
  .lessons_list{
    display: flex;
    color: black;
    text-decoration: none;
    flex-wrap: wrap;
     
      list-style-type: none;

  }
.lessons_list .list_item{
  width: 200px;
  height: 200px;
  background-color: rgb(202, 86, 106);
  flex-wrap: wrap;
  text-decoration: none;
padding:20px 30px;
margin: 20px;
color: black;
font-size: 14px;
  }
  .lessons_list .list_item:hover{
    -o-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
    transition-duration: .2s;
    color: white;
    background-color: rgb(85, 21, 110);
  }

  .lessons_list .list_item:last-child{
border-bottom: none;
  }
  .list_item a{
    color: white;
      font-size: 30px;
      text-decoration: none;
  }
 
.list_item_exams{
  background-color: goldenrod;
}
