*{
    margin: 0;
    padding: 0;

}
$font: Lato, san-serif;
$color: #fff;
.container_3{
    height: 488px;
    width: 100%;
    background-image: url(img/services.jpg.png);
    background-repeat: no-repeat;
}
.about_text_1_white{
color: $color;
font-family:  $font;
font-size: 16px;
font-weight: 300;
line-height: 25.89px;
}
.info_3{
color: $color;
font-family: $font;
font-size: 34px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 8.95px;
text-align: center;
padding: 60px;
}
.about_text_1_white{
width: 544px;
height: 143px;
color: $color;
font-family: $font;
font-size: 16px;
text-align: center;
margin: 0 auto;
font-weight: 300;
line-height: 25.89px;
}
.services{
border: none;
width: 902px;
height: 312px;
margin: 0 auto;
margin-top: 146px;
color:$color;

}
