*{
    margin: 0;
    padding: 0;
    line-height: 1;
}
.container_2{
margin-top: 50px;
width: 100%;
margin-bottom: 50px;
   fieldset{
       max-width: 800px;
       margin: 0 auto;
   }
.info_2{
    text-align: center;
    color: #3c3c3c;
    font-family: Lato;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    padding:  65px 100px;
    letter-spacing: 8.95px;
}
.about_text_1{
    color: #3c3c3c;
    max-width: 553px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.about_text_2{
    color: #3c3c3c;
    max-width: 553px;
    margin-bottom: 50px;
    display: block;
    margin: 0 auto 50px auto;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    }
}

@media (max-width: 817px){
    .container_2 fieldset{
        margin-left: 15px;
        margin-right: 15px;
    }
    .container_3 .services{
        margin-left: 15px;
        margin-right: 15px;  
    }
    .container_3 .info_3{
        padding: 65px 46px;
    }
    .container_2 .info_2{
        padding: 65px 46px;

    }
}
@media (max-width: 611px){
    .container_2 .about_text_1{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }
    .container_3 .about_text_1_white{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px; 
    }
    .container_2  .about_text_2{
        margin-left: 10px;
        margin-right: 10px;
        font-size: 20px;
    }
}
@media (max-width: 493px){
    .container_2 .about_text_2{
        margin: 40px auto 50px auto;
    }
    .container_2 .info_2 {
        padding: 47px 21px;
    }
    .container_3 .info_3 {
        padding: 47px 21px;
    }
}