* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: inherit;
}

.block1 {
  height: 100vh;
  background-image: url(img/bakground1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 200px;
}
.block1 .logo {
  display: block;
  margin: 0 auto;
}
.block1_heading-1 {
  color: #fff;
  font-family: Lato, san-serif;
  text-align: center;
  font-size: 54px;
  padding-top: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.62px;
}
.block1_info {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 579px;
  color: #ffffff;
  padding-top: 50px;
  font-family: Lato, san-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.block1 .scroll {
  display: block;
  margin: 0 auto;
  margin-top: 300px;
}

@media (max-width: 490px) {
  .block1_heading-1 {
    font-size: 40px;
  }

  .block1_info {
    padding: 30px 10px;
  }

  .block1 .scroll {
    margin-top: 249px;
  }
}
@media (max-width: 362px) {
  .block1_heading-1 {
    font-size: 27px;
  }
}
* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.container_2 {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}
.container_2 fieldset {
  max-width: 800px;
  margin: 0 auto;
}
.container_2 .info_2 {
  text-align: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 65px 100px;
  letter-spacing: 8.95px;
}
.container_2 .about_text_1 {
  color: #3c3c3c;
  max-width: 553px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.container_2 .about_text_2 {
  color: #3c3c3c;
  max-width: 553px;
  margin-bottom: 50px;
  display: block;
  margin: 0 auto 50px auto;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

@media (max-width: 817px) {
  .container_2 fieldset {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container_3 .services {
    margin-left: 15px;
    margin-right: 15px;
  }

  .container_3 .info_3 {
    padding: 65px 46px;
  }

  .container_2 .info_2 {
    padding: 65px 46px;
  }
}
@media (max-width: 611px) {
  .container_2 .about_text_1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  .container_3 .about_text_1_white {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }

  .container_2 .about_text_2 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
  }
}
@media (max-width: 493px) {
  .container_2 .about_text_2 {
    margin: 40px auto 50px auto;
  }

  .container_2 .info_2 {
    padding: 47px 21px;
  }

  .container_3 .info_3 {
    padding: 47px 21px;
  }
}
.container_3 {
  width: 100%;
  background-image: url(img/services.jpg.png);
  background-repeat: no-repeat;
  padding-bottom: 50px;
}

.about_text_1_white {
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.89px;
}

.info_3 {
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  padding: 60px;
}

.about_text_1_white {
  max-width: 544px;
  height: 143px;
  color: #fff;
  font-family: Lato, san-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 25.89px;
}

.services {
  border: none;
  max-width: 800px;
  margin: 0 auto;
  display: block;
  margin-top: 146px;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
}

.container_4 {
  height: 1410px;
  width: 100%;
}
.container_4 .about_us_1 {
  border: none;
  width: 902px;
  height: 1480px;
  margin: 0 auto;
  margin-top: 200px;
}
.container_4 .info_3 {
  text-align: center;
  color: #3c3c3c;
  font-family: Lato;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 65px 100px;
  letter-spacing: 8.95px;
}
.container_4 .heading_4 {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
  text-align: center;
  margin-bottom: 20px;
}
.container_4 .what_text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  width: 549px;
  height: 89px;
  margin: 0 auto;
  text-align: center;
  line-height: 25.89px;
}
.container_4 .what_text .what_text:last-child {
  margin-bottom: 40px;
}
.container_4 .photos {
  margin-top: 110px;
  display: inline-block;
  margin-left: 45%;
  margin-bottom: 20px;
}

.what_text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  width: 549px;
  height: 89px;
  margin: 0 auto;
  text-align: center;
  line-height: 25.89px;
}
.what_text .what_text:last-child {
  margin-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  justify-content: end;
  font-family: Lato;
  font-size: 34px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}
.flex .first {
  width: 400px;
  height: 237px;
  background-image: url(img/1.png);
  background-repeat: no-repeat;
  margin-bottom: 9px;
}
.flex .second {
  background-image: url(img/2.png);
  background-repeat: no-repeat;
  width: 640px;
  height: 237px;
}
.flex .third {
  background-image: url(img/3.png);
  background-repeat: no-repeat;
  width: 475px;
  height: 237px;
}
.flex .four {
  width: 400px;
  height: 237px;
  background-image: url(img/4.png);
  background-repeat: no-repeat;
}
.flex .five {
  width: 600px;
  height: 237px;
  background-image: url(img/5.png);
  background-repeat: no-repeat;
}
.flex .six {
  background-image: url(img/6.png);
  background-repeat: no-repeat;
  width: 510px;
  height: 237px;
}

* {
  margin: 0;
  padding: 0;
}

.container_6 {
  height: 480px;
  width: 100%;
}

.info_6 {
  color: black;
  font-family: Lato;
  font-size: 34px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  text-align: center;
  padding: 60px;
}

.about_text_1 {
  height: 66px;
  font-family: Lato;
  display: block;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  font-weight: 300;
  line-height: 25.89px;
}

.centr {
  margin: 0 auto;
  width: 899px;
  height: 500px;
  margin-top: 140px;
}

.contact_us {
  width: 395px;
  margin-left: 230px;
  margin-bottom: 40px;
  height: 58px;
  margin: 0 auto;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
}
.contact_us .button_text {
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}

.button1 {
  margin-left: 230px;
  margin-bottom: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.footer_text {
  color: #3c3c3c;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
.footer .footer_image {
  margin-bottom: 20px;
  padding: 0 20px;
}
/*# sourceMappingURL=main.css.map */