*{
    padding: 0px;
    margin: 0 auto;
}
.main{
    background-image: url(bg2.png);
    background-position: cover;
    background-color: #292d3e;
    width: 100%;
  height: 861px;
 
}
.rate{
   float: right;
   margin-top: -300px;
  
   
}
.article {
    margin-top: 147px;
    margin-left: 28%;
    position: absolute;
    width: 600px;
    height: 541px;
    box-shadow: 0px 23px 57px 0 rgba(0, 0, 0, 0.4);
    background-color: #212534;
  }
		.tab-title,.tab-content{
            list-style:none;
        }
     
        .tab-title{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left:34px;
            padding-right: 30px;
            height: 90px;
            padding-top:30px;
            background-color: #2b3040;
           
        }
        .tab-title li{
            width: 148px;
            cursor:pointer;
            
            opacity: 0.7;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            text-align: center;
            color: #b7bacd;
        }
        .tab-title li:hover{
            color: white;
            opacity: 1;
        }
       
        .tab-title li.active{
            color: white;
            opacity: 1;
           border-bottom: 2px solid white;
        }
        .tab-content li{
          display:none;
        padding: 59px 0px 0px 47px;
         
           
        }
        .rating-area {
            overflow: hidden;
            width: 140px;
            margin-left: -4px;
           position: absolute;
           margin-top: 20px;
           
        }
        .rating-area:not(:checked) > input {
            display: none;
        }
        .rating-area:not(:checked) > label {
             float: right;
            width: 22px;
            padding: 0;
            cursor: pointer;
            font-size: 20px;
            line-height: 23px;
            color: lightgrey;
             
        }
        .rating-area:not(:checked) > label:before {
            content: '★';
        }
        .rating-area > input:checked ~ label {
            color: gold;
             
        }
        .rating-area:not(:checked) > label:hover,
        .rating-area:not(:checked) > label:hover ~ label {
            color: gold;
        }
        .rating-area > input:checked + label:hover,
        .rating-area > input:checked + label:hover ~ label,
        .rating-area > input:checked ~ label:hover,
        .rating-area > input:checked ~ label:hover ~ label,
        .rating-area > label:hover ~ input:checked ~ label {
            color: gold;
            font-size: 24px;
        }
        .rate-area > label:active {
            position: relative;
        }
.txt1{
    position: absolute;
    font-family: Lato;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.63;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-left: 195px;
}
.txt2{
    font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #fdfdfd;
  padding-left: 195px;
  position: absolute;
  padding-top: 32px;
}
.txt3{
    position: absolute;
    padding-top: 90px;
    padding-left: 195px;
    width: 306px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: left;
    color: #b7bacd;
  
}
.sale{
    font-family: Lato;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #fedc3f;
  position: absolute;
  padding-left: 197px;
  padding-top: 230px;
}
.price{
    position: absolute;
    font-family: Lato;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.63;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 195px;
    padding-top: 270px;
}
.butt{
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 164px;
    height: 55px;
    border-radius: 2px;
    background-color: #13e28d;
    border: none;
   margin-left: 350px;
}
.butt:hover{
    box-shadow: 0px 2px 10px 0 rgba(255, 255, 255, 0.4);
    font-size: 18px;
    background-color: #bbe24e;

}
.img2{
    width: 500px;
}