
@font-face{
    font-family: "Josefin Sans - Bold"; 
    src: url("../fonts/Josefin_Sans/static/JosefinSans-Bold.ttf");
}

@font-face{
    font-family: "Josefin Sans - Regular"; 
    src: url("../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf"),
    
}
@font-face{
    font-family: "Aleo - Regular";
 src: url("../fonts/Aleo/Aleo-Regular.ttf");
}
@font-face{
    font-family: "Aleo - Bold";
 src: url("../fonts/Aleo/Aleo-Bold.ttf");
}

