*{
    margin: 0;
    padding: 0;
}
section{
    display: inline-block;
    width: 15%;
    position: relative;
    left: 40%;
    margin-top: 60px;
    
}
ul{
    list-style: none;
}
ul>li{
    padding: 15px 0;
    background-color: burlywood;
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
    border: 1px solid brown;

}
li:hover{
    color: white;
    transition: 1s;
}
label{
    padding: 20px 20px;
}
span{
    margin-left: 10px;
}