.side{
    display: none;
}

.intro {
    position: relative;
    width: 100%;
    height: 1087px;
    background: url("img\offer-bg.jpg");

    background-size: cover;
    &_heading {
        color: #262626;
        font-family: "Raleway", sans-serif;
        font-size: 60px;
        font-weight: 700;
        position: absolute;
        left: 164px;
        top: 258px;
      }
      
      &_par {
        width: 368px;
        color: #262626;
        font-family: "Raleway", sans-serif;
        font-size: 17px;
        font-weight: 300;
        left: 165px;
        position: absolute;
        top: 330px;
        line-height: 27px;
      }
      
      .button {
        background-color: #ff6033;
        border: none;
        color: #fff;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        text-transform: uppercase;
        left: 15%;
        top: 430px;
        position: absolute;
        box-shadow: 5px 10px 18px #888888;
        &:hover {
            background-color: rgba(235, 93, 54, 0.7);
      }
      &_text {
        width: 130px;
        padding: 0;
        margin-right: 10px;
      }
      
    }
  }
  .scroll {
        position: absolute;
        left: 50%;
        top: 920px;
      }

@media (min-width: 320px) and (max-width: 397px){
    .intro{
        width: 397px;
    }
    .intro_heading{
        width: 300px;
        left: 20px;
        top: 100px;
    }
    .intro_par{
        width: 200px;
        left: 70px;
        top: 230px;
    }
    .button{
        left: 70px;
    
    }
    
}
@media (min-width:398px) and (max-width: 450px)
{
    // .intro{
    //     width: 450px;
    // }
.logo_1{
    margin-left: 140px;
}
.intro_heading{
    left: 50px;
    top: 100px;
}
.button{
    left: 110px;
    top: 380px;
}
.intro_par{
    width: 300px;
    left: 60px;
    top: 230px;
}
.scroll {
    position: absolute;
    left: 50%;
    top: 800px;
  }
 .header__navigation_bar{
     display: none;
 }
}

@media (min-width:451px) and (max-width: 600px)
{
    .intro{
        width: 100%;
    }
.logo_1{
    margin-left: 100px;
}
.intro_heading{
    left: 50px;
    top: 100px;
}
.button{
    left: 110px;
    top: 380px;
}
.intro_par{
    width: 300px;
    left: 60px;
    top: 230px;
}
.scroll {
    position: absolute;
    left: 50%;
    top: 800px;
  }
 .header__navigation_bar{
     display: none;
 }
 .side{
     display: block;
     height: 60px;
     margin-top: 60px;
     margin-right: 50px;
 }

 .sidenav {

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(241, 175, 88);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #2e2323;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
}




@media (min-width:601px) and (max-width: 780px){
    // .intro{
    //     width: 780px;
    // }
    #b1{
        right: 100px;
    }
    .button_text{
        display: inline-block;
        margin-right: 20px;
        text-align: center;
    }
    .logo_1{
        margin-left: 90px;
    }
    
    .intro_heading{
        left: 230px;
        top: 100px;
    }
    .button{
        left: 40%;
        
        top: 380px;
    }
    .intro_par{
        width: 300px;
        left: 230px;
        text-align: center;
        top: 230px;
    }
    .scroll {
        position: absolute;
        left: 50%;
        top: 800px;
      }



    .side{
        display: block;
        height: 60px;
        margin-top: 60px;
        margin-right: 50px;
    }
    .button{
     margin-left: 170px;
     
     left: 20%;
    }
    .sidenav {
   
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
       left: 0;
       background-color: rgb(241, 175, 88);
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 60px;
     }
     
     .sidenav a {
       padding: 8px 8px 8px 32px;
       text-decoration: none;
       font-size: 25px;
       color: #2e2323;
       display: block;
       transition: 0.3s;
     }
     
     .sidenav a:hover {
       color: #f1f1f1;
     }
     
     .sidenav .closebtn {
       position: absolute;
       top: 0;
       right: 25px;
       font-size: 36px;
       margin-left: 50px;
     }
     
     @media screen and (max-height: 450px) {
       .sidenav {padding-top: 15px;}
       .sidenav a {font-size: 18px;}
     }
     .header__navigation_bar{
        display: none;
    }
}

@media (min-width:781px) and (max-width: 800px){
    // .intro{
    //     width: 800px;
    // }
    .logo_1{
        margin-left: 60px;
    }
    .header__navigation_bar{
        margin-right: 0;
    }
    #b1{
        right: 100px;
    }
    .button_text{
        display: inline-block;
        margin-right: 20px;
        text-align: center;
    }
    .intro_heading{
        left: 270px;
        top: 100px;
    }
    .intro_par{
        width: 310px;
        left: 260px;
        text-align: center;
        top: 230px;
    }
}

@media (min-width:801px) and (max-width: 900px){
    // .intro{
    //     width: 900px;
    // }
    .logo_1{
        margin-left: 70px;
    }
    #b1{
        right: 100px;
    }
    .button_text{
        display: inline-block;
        margin-right: 20px;
        text-align: center;
    }
    .header__navigation_bar{
    margin-right: 0;
    }
    .intro_heading{
        left: 260px;
        top: 100px;
    }
    .button{
        left: 40%;
        
        top: 380px;
    }
    .intro_par{
        width: 300px;
        left: 260px;
        text-align: center;
        top: 230px;
    }
    .scroll {
        position: absolute;
        left: 50%;
        top: 800px;
      }
    }


    @media (min-width:901px) and (max-width: 980px){
        // .intro{
        //     width: 980px;
        // }
        .logo_1{
            margin-left: 60px;
        }
       #b1{
           right: 100px;
       }
       .button_text{
           display: inline-block;
           margin-right: 20px;
           text-align: center;
       }
        .header__navigation_bar{
        margin-right: 0;
        }
        .intro_heading{
            left: 340px;
            top: 100px;
        }
        .intro_par{
            width: 300px;
            left: 330px;
            text-align: center;
            top: 230px;
        }
        .scroll {
            position: absolute;
            left: 50%;
            top: 800px;
          }
        }
    
        @media (min-width:981px) {
            .header__navigation_bar{
                margin-right: 20px;
            }

        }