*{
  margin: 0;
  padding: 0;
  line-height: 1;
}
#modalWindow{
  display: none;
}

.traffic-lights{
  margin: 0 auto;
height: 300px;
width: 120px;
  background-color:black;
}
.circle{
  border-radius: 50px;
}
.red{
background-color: red;
width: 83px;
margin-left: 20px;
position: relative;
opacity: 0.5;
top: 10px;
height: 86px;
}
.yellow{
  background-color: rgb(243, 243, 13);
width: 83px;
margin-left: 20px;
position: relative;
opacity: 0.5;
top: 17px;
height: 86px;
}
.green{
  background-color: rgb(50, 185, 38);
  width: 83px;
  margin-left: 20px;
  position: relative;
  opacity: 0.5;
  top: 26px;
  height: 86px;
}
