*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  }
@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.eot');
    src: url("../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.ttf") format("truetype"),
        url("../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.woff") format("woff");
  }
main{
    max-width: 1770px;
    margin: 0 auto;
}
  // header styles
.header{
    margin-top: 29px;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    &-left{
        display: flex;
        &__social svg{
           position: absolute;
           width: 26px;
           left: 19px;
           top: 19px;
           height: 26px;
        }  
        &__social{
            display: flex;
        }
       .icon-span-border{
           border: 1px solid #E0E0E0;
           width: 64px;
           height: 64px;
           position: relative;
       }
       .icon-span:hover svg {
            fill:#E0AFBC;
         }
       .icon-span:hover .icon-span-border {
           border: 1px solid #E0AFBC; 
        }
        //language part in header
        .header__lang-list{
            list-style: none;
            text-transform: uppercase;
            cursor: pointer;
            margin-left: 45px;
            font-family: "Open Sans";
            .header__lang-list-item:hover{
                color: #E0AFBC;
                font-weight: 900;
                -webkit-text-stroke: 0.1px black;
            }
           &-item{
               float: left;
               padding: 25px 10px;
           }
           .active{
               color: #ccc;
           }
        }
    }
    //end of left part header
    //right part
    .header-right{
        display: flex;      
    .nav-list{
        display: flex;
        list-style: none;
        margin-top: 29px;
        margin-right: 30px;
        .list-item{
            padding: 0 8px;
            font-family: "Open Sans";
            color: #171717;
            letter-spacing: 1.5px;
            background: url(../img/nav-line.png);
            margin: 0 10px;
            background-repeat: no-repeat;
            background-position: bottom left;
        }
        .list-item:hover{
            background: rgba(224, 175, 188, 0.3);
        }
        .onas{
            background-size: 39px 10px;
        }
        .nav-link{
            color: #000;
            text-decoration: none;
        }
        
    }
    //contacts
    .contacts-container{
        display: flex;
        position: relative;
        padding: 19px;
        border: 1px solid #ccc;
        .vertical-line{
            position: absolute;
            top: 0;
            left: 60px;
            width: 1px; 
            background-color: #ccc; 
            height: 100%;
          }
        .contacts-number{
            margin-left: 19px;
            padding-left: 20px;
            font-family: "Helvetica Neue";
            letter-spacing: 0.15em;
            padding-top: 5px;
            //border-left: 1px solid #ccc;
        }
      
    }
    .contacts-container:hover{
        border: 1px solid #E0AFBC;
    }
    .contacts-container:hover .vertical-line{
        background-color:  #E0AFBC;
    }
    .contacts-container:hover .phone{
        fill:  #E0AFBC; 
    }
   

    }
    //animated burger menu
   
    
    //end of right part header
}
// end of header styles
