*{
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
  }
@font-face {
    font-family: "Helvetica Neue";
    src: url('../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.eot');
    src: url("../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.ttf") format("truetype"),
        url("../fonts/HelveticaNeue/HelveticaNeue-CondensedRegular.woff") format("woff");
  }
main{
    max-width: 1770px;
    margin: 0 auto;
    overflow: hidden;
}
  // header styles
.header{
    margin-top: 29px;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
    &-left{
        display: flex;
        &__social svg{
           position: absolute;
           width: 26px;
           left: 19px;
           top: 19px;
           height: 26px;
        }  
        &__social{
            display: flex;
        }
       .icon-span-border{
           border: 1px solid #E0E0E0;
           width: 64px;
           height: 64px;
           position: relative;
       }
       .icon-span:hover svg {
            fill:#E0AFBC;
         }
       .icon-span:hover .icon-span-border {
           border: 1px solid #E0AFBC; 
        }
        //language part in header
        .header__lang-list{
            list-style: none;
            text-transform: uppercase;
            cursor: pointer;
            margin-left: 45px;
            font-family: "Open Sans";
            .header__lang-list-item:hover{
                color: #E0AFBC;
                font-weight: 900;
                -webkit-text-stroke: 0.1px black;
            }
           &-item{
               float: left;
               padding: 25px 10px;
           }
           .active{
               color: #ccc;
           }
        }
    }
    //end of left part header
    //right part
    .header-right{
        display: flex;      
    .nav-list{
        display: flex;
        list-style: none;
        margin-top: 29px;
        margin-right: 30px;
        .list-item{
            padding: 0 8px;
            font-family: "Open Sans";
            color: #171717;
            letter-spacing: 1.5px;
            background: url(../img/nav-line.png);
            margin: 0 10px;
            background-repeat: no-repeat;
            background-position: bottom left;
        }
        .list-item:hover{
            background: rgba(224, 175, 188, 0.3);
        }
        .onas{
            background-size: 39px 10px;
        }
        .nav-link{
            color: #000;
            text-decoration: none;
        }
        
    }
    //contacts
    .contacts-container{
        display: flex;
        position: relative;
        padding: 19px;
        border: 1px solid #ccc;
        .vertical-line{
            position: absolute;
            top: 0;
            left: 60px;
            width: 1px; 
            background-color: #ccc; 
            height: 100%;
          }
        .contacts-number{
            margin-left: 19px;
            padding-left: 20px;
            font-family: "Helvetica Neue";
            letter-spacing: 0.15em;
            padding-top: 5px;
            //border-left: 1px solid #ccc;
        }
    }
    .contacts-container:hover{
        border: 1px solid #E0AFBC;
    }
    .contacts-container:hover .vertical-line{
        background-color:  #E0AFBC;
    }
    .contacts-container:hover .phone{
        fill:  #E0AFBC; 
    }
    

    }
    #imgplus{
        border: 1px solid #ccc;
        padding: 23px;
        display: none;
    }
    .closebtn{
        border: 1px solid pink;
        text-decoration: none;
        height: 66px;
        width: 63px;
        text-align: center;
        padding-top: 12px;
        display: none;
        color: #000;
        font-size: 38px;
        font-weight: 600;
        background: rgba(224, 175, 188, 0.2);
    }
     //end of right part header
}
// end of header styles

//animated burger menu
 .overlay {
        width: 0;
        position: fixed;
        z-index: 100;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #fff; 
        .overlay-content {        
        width: 90%;
        text-align: center;
        background-image: url('../img/Vector.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        .burger-lang-list{
            display: flex;
            list-style: none;
            text-transform: uppercase;
            cursor: pointer;
            font-family: "Open Sans";
            margin: 20px auto;
           .burg-lang-list-item{
               margin: 30px 10px;
               outline: none;
           }
           .burg-lang-list-item:hover{
            color: #E0AFBC;
            font-weight: 900;
            -webkit-text-stroke: 0.1px black;
           }
           .active{
            color: #ccc;  
           }
        }
      }
      }
      .overlay a {
        text-decoration: none;
        font-family: Open Sans;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15em;
        color: #171717;
        margin: 40px auto 0;
        display: inline-block;
        transition: 0.3s;
        background: url(../img/nav-line.png);
        background-repeat: no-repeat;
        background-position: bottom left;
      }
      .overlay a:hover, .overlay a:focus {
        background: rgba(224, 175, 188, 0.3);
      }
      
      .footer-call{
        margin: 50px 0 0 93%;
        animation: pulse 2s infinite;
        background: transparent;
        border-radius: 50%;
        padding: 15px;
        border: 2px solid #E0AFBC;
        }
        .footer-phone{
            animation: pulse 2s infinite;
            width: 80px;
        }
        
        @keyframes pulse{
            0%{
                transform: scale(0.7);
            }
            70%{   transform: scale(1);
            }
            100%{
                transform: scale(0.7);
            }
        }
        .footer-button{
            display: block;
            margin: 0 auto;
            font-family: "Open Sans";
            font-weight: 800;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 3px;
            margin-top: 33px;
            padding: 26px 65px;
            background-color: #fff;
            border: 1px solid  #E0AFBC;
            
        }
        .footer-button:hover{
            background-color: #E0AFBC;
        }
   