@media(max-width: 1200px){
   .slider .slick-arrow.slick-next{
        display: none !important;
    }
}
@media(max-width: 1255px){
  
    .header .header-right .nav-list{
        display: none;
    }
    .header-left__lang{
        display: none;
    }
    .header .header-right .contacts-container .contacts-number{
        display: none;
    }
    .header .header-right .contacts-container .vertical-line{
        display: none;
    }
    #imgplus{
        display: block;
    }
    .header .header-right #imgplus{
        display: block;
       
    }
   
}
@media(max-width: 1657px){
.slider__item .white{
    top: 24px;
}
.slider__item .logo-name{
    top: 86px;
}
.slider__item .vector{
    top: 104px;
}
.slider__item .slide-bg{
    padding: 0 20px; 
}
}

@media(max-width: 1590px){
    .header .header-right{
        margin-right: 17px;
    }
    .slider__item .white{
        width: 495px;
    }
    .slider__item .logo-name{
        left: 140px;
        top: 40px;
    }
    .slider__item .vector{
        left: 171px;
        top: 81px;
    }
    .slider__item .slide-bg{
        height: 553px;
    }
}

@media(max-width: 1000px){
    
    .slider__item .slide-bg{
        object-position: 75%;
    }
}
@media(max-width: 770px){
    .slider__item .white{
        width: 422px;
        left: 44px;
    }
    .slider__item .line1, .slider__item .line2{
        left: 248px;
    }

    .slider__item .logo-name{
      left: 69px;
    width: 354px;  
    }
    .slider__item .vector{
        left: 89px;
    width: 321px;
    
    }
    
}
@media(max-width: 410px){
    .footer-button{
        padding: 26px 40px;
    }
}
@media(max-width: 352px){
    .footer-button{
        padding: 26px 22px;
    }
 
}
@media(min-width: 1231px){
    .overlay{
        height: 100%;
    }  
}
@media(max-width: 1230px){
.overlay{
    height: 100%;
}
}
@media(max-width: 1400px){
    .footer-call{
        display: none;
    }
    .slick-arrow.slick-next{
        display: none !important;
    }
}
@media(max-width: 427px){
    .slider__item .line1, .slider__item .line2{
        left: 166px;
    }}
@media(max-width: 503px){
    .slider__item .line1, .slider__item .line2{
        left: 217px;
    }
    .slider__item .white {
        width: 349px;
        top: 89px;}
        .slider__item .vector{
            top: 125px;
            left: 75px;
            width: 286px;
        }
       
    .slider__item .logo-name{
        top: 97px;
        left: 52px;
        
    }
}

@media(max-width: 364px){
    .slider__item .white{
        width: 290px;
    }
    .slider__item .vector{
        
    width: 251px;
    }
}
@media(max-width: 602px){
    .bg-modal .modal-content{
        width: 409px;
    }
}
@media(max-width: 512px){
    .bg-modal .modal-content{
        width: 304px;
        padding: 0 10px;
    }
}
@media(max-width: 415px){
    .bg-modal .modal-content .close{
      top: -50px;
      right: 0;
    }
}
@media(max-width: 430px){
    .header-left .icon-span-border{
        width: 48px;
        height: 48px;
    }
    .header .header-right .contacts-container{
        padding: 13px;
    }
    .header .closebtn{
        width: 48px;
        height: 48px;
        padding-top: 5px;
    }
    .header .header-right .contacts-container svg{
        width: 20px;
        height: 20px;
    }
    .header .header-right #imgplus{
        padding: 14px;
    }
    .header-left__social svg{
        left: 13px;
        top: 13px;
        height: 20px;
        width: 20px;
    }
    .slider__item .slide-bg{
        height: 450px;
    }
    .slider__item .logo-name{
        width: 280px;
        left: 19px;
    } 
    .slider__item .vector{
        top: 84px;
        left: 29px;
    }
    .slider__item .white{
        left: 15px;
        width: 303px;
        top: 49px;
    }
    .slider__item .line1, .slider__item .line2{
        left: 164px;
    }
    
}