@media(max-width: 1255px){
    .header .header-right .nav-list{
        display: none;
    }
    .header-left__lang{
        display: none;
    }
    .header .header-right .contacts-container .contacts-number{
        display: none;
    }
    .header .header-right .contacts-container .vertical-line{
        display: none;
    }
    #imgplus{
        display: block;
    }
    .header .header-right #imgplus{
        display: block;
       
    }
    .header .header-right .contacts-container{
        
    }
}