.wrapper{
    margin-top: 50px;
}
.slider-photo{
    max-width: 1770px;
    width: 100%;
}
.slick-track{
    display: flex;
}
.slick-list {
     overflow: hidden;
}
.slider .slick-arrow{
    position: absolute;
    top: 99%;
    left: 25px;
    z-index: 40;
}
.slider__item{
    position: relative;
    
}
.slick-arrow.slick-next{
    font-family: "Open Sans";
    outline: none;
    font-size: 12px;
    text-transform: uppercase;
    transform: rotate(90deg);
    background: transparent;
    border: none;
 }
  .slick-arrow.slick-next::before{
    display: inline-block;
    content: "";
    border-top: 2px solid black;
    width: 2.5rem;  
    margin: 4px 1rem;
 
 }
 .slider .slick-arrow.slick-prev{ 
    display: none !important;
}
.slick-dots{
    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    margin: 0 6px;
    margin-top: -90px;
    font-size: 0;
    z-index: 50;
}
.slick-dots li.slick-active{
    background-color: #E0AFBC;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}
.slick-dots li button{
    font-size: 0;
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #e0afbcb4;
}

// footer
.footer-button{
    display: block;
    margin: 0 auto;
    font-family: "Open Sans";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 33px;
    padding: 26px 65px;
    background-color: #fff;
    border: 1px solid  #E0AFBC;
    
}
.footer-button:hover{
    background-color: #E0AFBC;
}
.footer-call{
margin: -13px 0 0 96.5%;
animation: pulse 2s infinite;
background: transparent;
border-radius: 50%;
border: 2px solid #E0AFBC;
}
.footer-phone{
    padding: 10px;
    animation: pulse 2s infinite;
    width: 80px;
}

@keyframes pulse{
    0%{
        transform: scale(0.9);
    }
    70%{   transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}
.logo-name{
    position: absolute;
    top: 130px;
    left: 175px;
}
.logoline1{
    position: absolute;
    animation: 6s updown infinite;
    left: 385px;
    top: -70px;
}
.rotating {
    position: absolute;
    top: 170px;
    left: 200px;
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}
@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating1{
    position: absolute;
    height: auto;

    top: 65px;
    left: 120px;
    -webkit-animation: rotating1 4s linear infinite;
  -moz-animation: rotating1 4s linear infinite;
  -ms-animation: rotating1 4s linear infinite;
  -o-animation: rotating1 4s linear infinite;
  animation: rotating1 4s linear infinite;
}
  @keyframes rotating1 {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes updown {
    0% {
      transform: translateY(-100px);
    }
  
    50% {
      transform: translateY(100px);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }
  
  @keyframes downup {
    0% {
      transform: translateY(100px);
    }
  
    50% {
      transform: translateY(0px);
    }
  
    100% {
      transform: translateY(100px);
    }
  }
  .logoline2{
     top: 400px;
      left: 385px;
      animation: 6s downup infinite;
      
      position: absolute;
  }
 @media(max-width: 1637px){
     .rotating1{
         top: 20px;
     }
 }
 @media(max-width: 1466px){
    .rotating1{
        width: 100%;
        max-width: 450px;
    }
    .rotating{
        top: 64px;
    }
    .logo-name{
        top: 24px;
    }
    .slider-photo{
        min-height:500px;

    }
}
@media(max-width: 620px){
.rotating1{
    left: 50px;
}
.rotating{
    left: 76px;
}
.logo-name{
    left: 69px;
}
.logoline1, .logoline2{
    left: 244px;
}
}

@media(max-width: 511px){
    .rotating1{
        max-width: 360px;
    }
    .logo-name{
        max-width: 320px;
    }
    .rotating{
        left: 62px;
        max-width: 320px;
        top: 42px;
    }
}
@media(max-width: 414px){
    .rotating1{
        left: 0px;
        max-width: 315px;
    }
    .logo-name{
        left: 34px;
        max-width: 259px;
    }
    .rotating{
        left:20px;
        max-width: 300px;
    }
}
@media(max-width: 456px){
   .slider-photo{
    min-height:400px;
   } 
   .footer-button{
       width: 95%;
       letter-spacing: 0px;
   }
}
@media(max-width: 334px){
    .footer-button{
        padding: 26px 0px;
    }
}