*{
    margin: 0;
    padding: 0;
    line-height: 1;
}
body{
    background-color: #121116;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding-top: 200px;

}
 .Logo_1{
    display: block;
    margin-left: 37%;
    margin-right: 50%;
 
}
#text_1{
    color: #fff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    text-align: center;
}

    
hr{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
  li img {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
 #footer_1{
    color: blue;
  }
  .text_last{
    color: white;
    text-align: center;
  }
  