@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800&display=swap');
*{
    margin: 0;
    padding: 0;
    cursor: pointer;

}
body{
    background-color: #b07cf7;
}
h1{
    width: 190px;
height: 86px;
text-align: center;
/* opacity: -1; */
color: #ffffff;
font-family: Raleway;
font-size: 90px;
font-weight: 700;
margin-top: 100px;
margin-left: 655px;
}
.heading_2{
    color: #ffffff;
font-family: Raleway;
font-size: 17px;
font-weight: 300;
line-height: 25px;
width: 563px;
height: 66px;
text-align: center;
margin-top: 30px;
margin-left: 469px;
}
.sticker1{
width: 370px;
background: url(img1.png) no-repeat;
position: relative;
}
.data1{
    margin-left: 15px;
}
.sticker{
    padding: 0 10px;
}
.sticker2{
width: 370px;
height: 280px;
background: url(img2.png) no-repeat;
background-size: cover;
padding: 10px;
position: relative;
}

.sticker3{
width: 370px;
background: url(img3.png) no-repeat;
position: relative;
margin-left: 20px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
}

.footer{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    background-color: #f72b3b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px 43px;
    text-align: center;
    outline: none;
    color: #fff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
}
.footer:hover{
    background-color: rgb(146, 5, 5);
}

.data{
border-radius: 5px;
 width: 60px;
height: 60px;
position: absolute;
top: 30px;
bottom: 0;
background: rgb(0, 0, 0); /* Fallback color */
background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
color: #ffffff;

}
.info1{

    color: #ffffff;
    font-family: Raleway;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}
.info_2{
    position: absolute;
    color: #ffffff;
    font-family: Raleway;
    line-height: 25px;
    left:20px;
   top: 230px;
   width: 307px;

}
.text_1{
    color: #ffffff;
font-family: Raleway;
font-size: 20px;
font-weight: 700;
line-height: 25px;
}
.text_2{
    font-family: Raleway;
    font-size: 13px;
    font-weight: 300; 
    color: #ffffff;
}