@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

.header {
  background: url(../img/Bg1.png), url(../img/tu-tram-pham-202263.jpg);
  width: 100%;
  background-position: right bottom, left top;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__topbar {
  display: flex;
  align-items: center;
}
.header__topbar .logo {
  margin-left: 160px;
  margin-top: 48px;
}
.header__topbar .logo:hover {
  cursor: pointer;
}
.header__topbar .navigation {
  margin-top: 45px;
  margin-left: 39px;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: flex-start;
}
.header__topbar .navigation li {
  width: 109px;
  margin: 0px 35px;
}
.header__topbar .navigation li::before {
  content: "⚬";
  color: white;
}
.header__topbar .navigation li:hover::before {
  content: "•";
  color: white;
}
.header__topbar .navigation a {
  text-decoration: none;
  padding: 0 7px;
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
.header__topbar .social-media {
  margin-top: 58px;
}
.header__topbar .social-media__icon {
  margin: 0 10px;
}
.header__topbar .social-media__icon:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
}
.header .slider {
  width: 100%;
}
.header .slider__item {
  width: 100%;
}
.header .slider__item__heading {
  margin-top: 285px;
  text-align: center;
  color: #fff;
  font-family: Gotham;
  font-size: 80px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.header .slider__item__text {
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
  font-family: "Gotham - Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  margin-bottom: 250px;
}
.header .scroll {
  display: block;
  margin: auto;
}

@font-face {
  font-family: "Gotham - Book";
  src: url("../fonts/GothamBook/GothamBook.ttf") format("truetype"), url("../fonts/GothamBook/GothamBook.eot"), url("../fonts/GothamBook/GothamBook.woff") format("woff");
}
@font-face {
  font-family: Gotham;
  src: url("../fonts/GothamRegular/Gotham Medium Regular.ttf") format("truetype"), url("../fonts/GothamRegular/Gotham Medium Regular.woff") format("woff"), url("../fonts/GothamRegular/Gotham Medium Regular.woff2");
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSans/OpenSansItalic.ttf") format("truetype");
}
.container2 {
  background-attachment: #fff;
  width: 100%;
}
.container2__line {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 90px;
}
.container2__text {
  color: #2c4058;
  font-family: Gotham;
  font-size: 44px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 114px;
}

.container3 {
  width: 100%;
  background-image: url(../img/Back.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
}
.container3 .back3 {
  width: 585px;
  height: 470px;
  position: relative;
}
.container3 .back3 .build1 {
  left: 125px;
  top: 70px;
  position: absolute;
  margin-bottom: 140px;
}
.container3__rigth {
  margin-left: 330px;
}
.container3__rigth__text1 {
  font-family: "Gotham - Book";
  font-size: 22px;
  font-weight: 400;
  color: #2c4058;
}
.container3__rigth__title1 {
  color: #2c4058;
  font-family: "Gotham";
  font-size: 44px;
  margin-top: 20px;
  font-weight: 700;
  line-height: 24px;
}
.container3__rigth .details {
  background-color: #fff;
  width: 190px;
  height: 50px;
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  margin-top: 36px;
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid black;
}
.container3__rigth .details:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
  background-color: black;
  color: #fff;
}
.container3__rigth .text3 {
  width: 460px;
  margin-top: 39px;
  height: 78px;
  color: #4b5562;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.container3__rigth .adress {
  color: #2c4058;
  margin-top: 60px;
  font-family: "OpenSansItalic";
  font-size: 18px;
  line-height: 30px;
}

.container4 {
  width: 100%;
  margin-top: 140px;
  display: flex;
}
.container4 .back2 {
  width: 585px;
  height: 470px;
  background-color: #7e5aff;
  position: relative;
  margin-left: 300px;
}
.container4 .back2h {
  display: none;
}
.container4 .comerce {
  position: absolute;
  right: 100px;
  width: 526px;
  height: 470px;
  top: 70px;
}
.container4 .comerce2 {
  display: none;
}
.container4__left {
  margin-top: 130px;
  margin-left: 54px;
}
.container4__left__text1 {
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 22px;
  font-weight: 400;
  line-height: 24.01px;
  text-transform: uppercase;
}
.container4__left__heading {
  font-weight: 700;
  font-family: "Gotham";
  width: 500px;
  font-size: 44px;
  font-weight: 700;
  line-height: 24.01px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 15px;
}
.container4__left__text2 {
  width: 452px;
  color: #4b5562;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  line-height: 30px;
}
.container4__left .details2 {
  background-color: #fff;
  width: 190px;
  height: 50px;
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  margin-top: 36px;
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid black;
}
.container4__left .details2:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
  background-color: black;
  color: #fff;
}
.container4__left .adress {
  color: #2c4058;
  margin-top: 60px;
  font-family: "OpenSansItalic";
  font-size: 18px;
  line-height: 30px;
}

.container5 {
  margin-top: 100px;
  background-image: url(../img/bgcity.png);
  background-size: cover;
  background-color: #2ab9f1;
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 140px;
}
.container5 hr {
  width: 100px;
  margin: auto;
}
.container5__text {
  color: #ffffff;
  font-family: Gotham;
  font-size: 44px;
  font-weight: 500;
  margin-top: 181px;
  text-align: center;
  line-height: 22px;
  text-transform: uppercase;
}
.container5 .slider2 {
  position: relative;
  margin-top: 100px;
}
.container5 .slider2__item {
  width: 370px !important;
  margin: 30px;
  height: 514px;
  position: relative;
  background-color: #fff;
}
.container5 .slider2__item__descr {
  bottom: 0;
  position: absolute;
  color: #2c4058;
  font-family: "Gotham";
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.container5 .slider2__item .heading5 {
  width: 293px;
  margin-top: 30px;
  height: 50px;
  color: #2c4058;
  font-family: "Gotham";
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}
.container5 .slider2__item .text5 {
  width: 328px;
  height: 49px;
  margin-top: 20px;
  color: #4b5562;
  font-family: "OpenSans";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.container5 .slider2__item .author {
  display: flex;
  margin-top: 46px;
  margin-left: 20px;
}
.container5 .slider2__item .author__descr {
  margin-left: 20px;
}
.container5 .slider2__item .author__descr__name {
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}
.container5 .slider2__item .author__descr__date {
  color: #55b7ff;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.container6 {
  background-attachment: #fff;
  width: 100%;
}
.container6__line {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-top: 90px;
}
.container6__text {
  color: #2c4058;
  font-family: Gotham;
  font-size: 44px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 60px;
  text-align: center;
  margin-bottom: 114px;
}
.container6 .gallery {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.container6 .gallery__right {
  margin-left: 10px;
}
.container6 .gallery__right__photo1 {
  margin-bottom: 10px;
}
.container6 .gallery__right__photo2 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.container6 .gallery__right__photo4 {
  margin-left: 10px;
}
.container6 .details6 {
  display: block;
  margin: 0 auto;
  background-color: #fff;
  width: 190px;
  height: 50px;
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 140px;
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid black;
}
.container6 .details6:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
  background-color: black;
  color: #fff;
}
.container6 .gallery__left {
  position: relative;
}
.container6 .image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.container6 .image:hover {
  opacity: 0.3;
}
.container6 .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container6 .middle:hover {
  opacity: 1;
}

.container7 {
  width: 100%;
}

#map {
  margin: 0 auto;
  line-height: normal;
  margin-top: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  height: 600px;
  background-color: grey;
  overflow: hidden;
}

.container8 {
  width: 100%;
  background-image: url(../img/footerbg.png);
  background-size: cover;
  position: relative;
}
.container8_main {
  width: 50%;
  margin: 0 auto;
  display: flex;
}
.container8 .info8 {
  color: #ffffff;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 42px;
}
.container8 .left8 {
  margin-left: 135px;
  margin-top: 210px;
}

.container8_main__right {
  margin-top: 210px;
  margin-left: 50px;
}

.form {
  position: relative;
}

.container9withtext {
  background-color: #fff;
  position: absolute;
  bottom: 158px;
}

.container9 {
  display: flex;
}

span {
  color: #7e5aff;
}

input[type=text] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 310px;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  height: 45px;
}

input[type=text]:focus {
  border-bottom: 1px solid #000;
}

.contacts {
  list-style: none;
  padding: 59px 52px 79px 59px;
}

.contacts__list {
  padding: 20px 0;
}

.form_left {
  padding: 59px 61px 78px 0;
}

.formtitle {
  text-align: center;
  color: #2c4058;
  margin-top: 91px;
  font-family: Gotham;
  font-size: 44px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
}

.submit {
  background-color: #fff;
  width: 190px;
  float: right;
  height: 50px;
  color: #2c4058;
  font-family: "Gotham - Book";
  font-size: 14px;
  font-weight: 400;
  margin-top: 36px;
  line-height: 22px;
  text-transform: uppercase;
  border: 1px solid black;
}
.submit:hover {
  transform: translateY(-20px);
  transition-duration: 1s;
  background-color: black;
  color: #fff;
}

@media (min-width: 960px) and (max-width: 1237px) {
  .container9withtext {
    left: 202px;
  }

  .left8 {
    margin-left: 10px;
  }
}
@media (min-width: 700px) and (max-width: 960px) {
  .container9 {
    flex-direction: column;
  }
}
@media screen and (max-width: 1220px){
  .header__topbar .social-media{
    display: none;
  } 
  .header__topbar{
    flex-direction: column;
  }
  /* .header__topbar .navigation{
    margin-left: 4px;
  } */
.container3{
  background:none
}
.container3 .back3 .build1 {
  left: 10px;
    top: 0px;
}
.container4 .back2{
  background: none;
  margin-left: 1px;
}


.container4 .comerce{
  right: 10px;
  width: 469px;
  height: 416px;
}
}
@media screen and (max-width: 1107px){
.container3{
  flex-direction: column;
}
.container4{
  flex-direction: column;
}
}
@media screen and (max-width: 940px){

 .gallery{
   flex-direction: column;
 } 
 .gallery__left{
   margin-left: auto;
   margin-bottom: 30px;
 }
 .container3__rigth {
  margin-left: 161px;
  margin-top: 30px;
}
.slider__item__heading{
  font-size: 53px !important;
}
}
@media screen and (max-width: 750px){
.header__topbar .navigation li{
  margin: 0px 6px;
}
.container9withtext{
  left: 10px;
  width: 583px;
}
.container6 .gallery__right {
  margin-left: 1px;
}
.build1{
  max-width: 400px;
}
.container3__right{
  float: left;
}
.form_left{
  padding-right: 20px;
}
.gallery-left{
float: left;
}
.image{
  max-width: 473px;
}
.text3{
 max-width: 473px; 
 margin-left: -30px;
}
.container8 .left8 {
  margin-left: 58px;}
}
@media screen and (max-width: 580px){
  .slider__item__heading{
    font-weight: 500;
  
  }
  .container3__right{
   display: none;
  }
  .container9withtext {
    left: 0px;
    width: 100%;}
    .container9 {
      
      flex-direction: column;
  }
  .container4__left{
    margin-left: 7px;
  }
  .container4 .comerce{
    right: 0px;
  }
  .container4 .back2 {
    width: 481px;}
.text3{
  width: 320px;
}
.text2{
  width: 320px;
}
}