header{
    background: url(../img/other/blog-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.blog-header_top{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
}
.blog-header_top .links{
    display: flex;
}
.bl-logo{
    width: 150px;
}
.blog__header-text1{
    max-width: 1200px;
    padding: 150px;
    margin: 0 auto;
    .blog-heading1{
        font-family: "Raleway-Thin";
        font-size: 60px;
        font-weight: 200;
        text-transform: uppercase;
        color: #fff;
    } 
    .blog-heading2{
        font-family: "Raleway-Regular";
        font-weight: 800;
        color: #fff;
        font-weight: 800; 
        font-size: 60px;
        text-transform: uppercase;
    }
    .blog__header-text{
        max-width: 500px;
        padding-top: 30px;
        color: #fff;
        font-family: "Lato-Regular";
    }
    .blog__header-subtext{
        color: #fff;
        text-transform: uppercase;
        font-family: "Lato-Regular";
        padding-top: 10px;

    }

}
//header end
//container blog

.blog-container{
    display: grid;
    padding-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    row-gap: 250px;
    max-width: 1200px;
    margin: 0 auto;
  .blog-bg-img{
      position: relative;
  }
    .blog-inform{
    position: absolute;
    top: 200px;
    left: 30px;
    background-color: #fff;
       width: 300px;
      .blog-subheading1{
        font-family: "Raleway-Regular";
        font-size: 14px;
        text-align: center;
        padding-top: 20px;
        color: rgb(207, 187, 96);
      } 
      .blog-heading1{
        font-family: "Raleway-Regular";
        font-size: 20px;
        text-align: center; 
        padding-top: 15px;
      }
      .blog-text1{
         max-width: 250px;
         text-align: center;
         padding-top: 15px;
         font-family: "Raleway-Regular";
         font-size: 16px;
         margin: 0 auto;
      }
      .blog-button1{
        font-family:"Lato-Regular" ;
        font-size: 16px;
        margin: 50px;
        margin-top: 30px;
        margin-left: 75px;
        background-color: $back;
        border-radius: 20px;
        border: none;
        width: 140px;
        height: 50px;
        &:hover{
            color: #000;
            border-radius: 20px;
            border:1px solid $back;
            background-color: transparent;
        }  
      }
   } 
} 
.footer{
    margin-top: 150px;
}
