.pr__header{
   background: url(../img/productsimg/bg.jpg);
   background-size: cover;
   background-attachment: fixed;
   .header_top{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    #basket{}
    
    .basket__content{
        position: absolute;
        top: -8px;
        left: 25px;
        background-color: green;
        width: 20px;
        text-align: center;
        border-radius:5px;
        font-size: 18px;
        color: #fff;
    }
     
    .pr_logo{
        width: 120px;
    }
  
}



.pr_links{
    display: flex;
}

.header-heading{
    max-width: 1200px;
    margin: 0 auto;
    padding: 170px 0 ;
    .pr-heading1{
        font-family: "Lato-Bold";
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
    }
    .pr-heading2{
        font-family: "Lato-Bold";
        font-size: 80px;
        text-transform: uppercase;
        color: #fff;
        padding-top: 15px;
    }
    .pr-text{
        font-family: "Lato-Regular";
        font-size: 20px;
        color: #fff;
        font-weight: 200;  
        padding-top: 15px;  
    }
}
}

//shop
.shop{
    .basket{
  
        position: -webkit-sticky; /* Safari */
        position: sticky;
        font-size: 20px;
        color: black;
        top: 50px;
       
    }
    .basket-icons{
        position: absolute;
        top: -8px;
        right: -6px;
        width: 15px;
        text-align: center;
        border-radius: 3px;
        background-color: green;
        color: #fff;
    }
    .basket i{
        color: #000;
        font-size:25px;
    }
    
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    .shop-left{
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        .shop-left-products-left-name{
            font-family: "Lato-Black";
            font-size: 16px; 
        }
        .shop-left-products-heading{
            font-family: "Lato-Regular";
            font-weight: 600;  
            margin-top: 40px;
            margin-bottom: 10px;
            font-size: 18px;
        }
        .shop-left-product1{
            display: flex;
            margin-bottom: 10px;
            .checked {
                color: rgb(233, 212, 27);
                padding-top: 10px;
            }
            .shop-left-products-left-price{
                padding-top: 10px;
                font-family: "Lato-Regular";
                font-size: 16px;

            }
        }
       
        .product-list-item{
            padding: 10px;
        }
        .product-list-item a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: $back;
                transition: 0.5s;
            }
        }
        input[type=text]{
         border: none;
         height: 30px;
         padding: 5px;
         border-bottom: 1px solid grey;
         font-family: "Lato-Regular";
        }
        .shop-left-prod-search{
            font-family:"Lato-Regular" ;
            font-size: 16px;
            text-transform: uppercase;
            background-color: $back;
            border: none;
            transition: 0.5s;
            padding: 10px;
            border-radius: 50px;
            width: 150px;
            height: 50px;
            &:hover{
                color: #000;
                border-radius: 20px;
                border:1px solid $back;
                background-color: transparent;
            }
          }
        }
    
        .shop-right{
            margin-left: 30px;
            .product-list-right{
                display: grid;
                column-gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }
          
            .product-list-right li {
                list-style: none;
            }
            margin-top: 30px;
           
            .product-card{
                min-width: 310px;
                padding: 15px;
                &:hover{
                    border: 1px solid rgb(128, 126, 126);
                    padding: 15px;
                    margin: 10px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                      
                }
                .checked {
                    color: rgb(233, 212, 27);
                    padding-top: 10px;
                }
               .product-card-heading{
                font-family: "Lato-Regular";  
                font-size: 18px;

               } 
               .product-card-price{
                   color: rgb(37, 34, 34);
                   font-family: "Lato-Regular";
                   font-weight: 500;
                   padding-top: 10px;
               }
              .product-card-add{
                  width: 100px;
                  height: 50px;
                  border-radius: 20px;
                  background-color: $back;
                  border: 1px solid $back;
                  background: transparent;
                  margin-top: 15px;
                  &:hover{
                      background-color: $back;
                  }
              }
               }
               
            }
        }
    
  